<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.0.0-beta3/css/all.css" >
    <link rel="icon" href="{{ url_for('static', filename='img/logo.png') }}">
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <title>LucasPhoto29</title>
</head>
<body>
    <nav>
        <div class="logo-titre">
            <a href="/"><img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo"></a>
            <h1>LucasPhoto29</h1>
        </div>
        <div class="onglets">
            <p class="link"><a href="{{ url_for('about') }}">À propos</a></p>
            <p class="link"><a href="{{ url_for('contact') }}">Contact</a></p>
            <p class="link"><a href="{{ url_for('boutique') }}">Boutique</a></p>
            <p class="link"><a href="{{ url_for('commentaire') }}">Avis</a></p>
            <form>
                <input type="search" placeholder="Rechercher..." id="search">   
            </form>
            <p><i class="fa-solid fa-cart-shopping"></i></p>
        </div>
    </nav>

    <div class="container">
        <div class="commentaires" id="commentaires">
            <h2 class="title_category">Avis</h2>
            <div class="commentaire">
                <img src="{{ url_for('static', filename='img/user.png') }}" class="commentaire_img" alt="photo de profil utilisateur">
                <div class="commentaire_text">
                    <h3 class="commentaire_nom">Nom de l'utilisateur</h3>
                    <p class="commentaire_message">Incroyable !</p>
                </div>
            </div>
            <div class="commentaire">
                <img src="{{ url_for('static', filename='img/user.png') }}" class="commentaire_img" alt="photo de profil utilisateur">
                <div class="commentaire_text">
                    <h3 class="commentaire_nom">Nom de l'utilisateur</h3>
                    <p class="commentaire_message">Super design, mais quelques bugs à corriger.</p>
                </div>
            </div>
        </div>
    </div>
    
    <footer>
        <p>© 2023 Mon Site. Tous droits réservés.</p>
    </footer>
</body>
</html>
